<mat-dialog-content>
	<mat-horizontal-stepper linear #stepper>
		<mat-step [stepControl]="reasonFormGroup">
			<ng-template matStepLabel>Team or Player</ng-template>
			<form [formGroup]="reasonFormGroup">
				<mat-radio-group aria-label="Select an option" formControlName="reason" class="reason-radio-group">
					<mat-radio-button class="reason-radio-button" [value]="freeAgentType.player">Looking for a <b>Team</b></mat-radio-button>
					<mat-radio-button class="reason-radio-button" [value]="freeAgentType.team">Looking for <b>Players</b></mat-radio-button>
				</mat-radio-group>
			</form>
		</mat-step>
		<mat-step [stepControl]="playerInformationFormGroup">
			<ng-template matStepLabel>Player Information</ng-template>
			<div *ngIf="(division$ | async); else loading">
				<p *ngIf="reasonFormGroup.get('reason').value == freeAgentType.player">What skill level are you looking for?</p>
				<p *ngIf="reasonFormGroup.get('reason').value == freeAgentType.team">Tell us more about the players you are looking for.</p>
				<form [formGroup]="playerInformationFormGroup" #playerInformationFormDirective="ngForm">
					<mat-form-field *ngIf="reasonFormGroup.get('reason').value == freeAgentType.player">
						<mat-label>Preferred Division</mat-label>
						<mat-select formControlName="division" appearance="fill" multiple>
							<mat-option *ngFor="let division of division$ | async;" [value]="division.id">{{ division.league.name }} {{ division.name }}</mat-option>
						</mat-select>
						<mat-error *ngIf="playerInformationFormGroup.get('division').hasError('required')">
							Division is <strong>required</strong>
						</mat-error>
					</mat-form-field>
					<mat-form-field *ngIf="reasonFormGroup.get('reason').value == freeAgentType.team">
						<mat-label>Positions</mat-label>
						<mat-select formControlName="positions" appearance="fill" multiple>
							<mat-option *ngFor="let position of positions;" [value]="position">{{ position }}</mat-option>
						</mat-select>
						<mat-error *ngIf="playerInformationFormGroup.get('positions').hasError('required')">
							Positions is <strong>required</strong>
						</mat-error>
					</mat-form-field>
					<mat-form-field *ngIf="reasonFormGroup.get('reason').value == freeAgentType.team">
						<mat-label>Genders</mat-label>
						<mat-select formControlName="genders" appearance="fill" multiple>
							<mat-option value="Male">Male</mat-option>
							<mat-option value="Female">Female</mat-option>
						</mat-select>
						<mat-error *ngIf="playerInformationFormGroup.get('positions').hasError('required')">
							Genders is <strong>required</strong>
						</mat-error>
					</mat-form-field>
				</form>
			</div>
		</mat-step>
		<mat-step [stepControl]="contactInformationFormGroup">
			<ng-template matStepLabel>Contact Information</ng-template>
			<div *ngIf="(division$ | async); else loading">
				<p>Provide this information so <b>{{ ( reasonFormGroup.get('reason').value == freeAgentType.team ? 'teams' : 'players') }}</b> can contact you.</p>
				<form [formGroup]="contactInformationFormGroup" (ngSubmit)="submit()" #contactInformationFormDirective="ngForm">
					<mat-form-field>
						<mat-label>Name</mat-label>
						<input matInput formControlName="name">
						<mat-error *ngIf="contactInformationFormGroup.get('name').hasError('required')">
							Name is <strong>required</strong>
						</mat-error>
					</mat-form-field>
					<mat-form-field>
						<mat-label>Phone Number</mat-label>
						<input matInput formControlName="phone">
						<mat-error *ngIf="contactInformationFormGroup.get('phone').hasError('required')">
							Phone is <strong>required</strong>
						</mat-error>
					</mat-form-field>
					<mat-form-field>
						<mat-label>Email</mat-label>
						<input matInput formControlName="email">
						<mat-error *ngIf="contactInformationFormGroup.get('email').hasError('required')">
							Email is <strong>required</strong>
						</mat-error>
						<mat-error *ngIf="contactInformationFormGroup.get('email').hasError('email')">
							Valid email is <strong>required</strong>
						</mat-error>
					</mat-form-field>
				</form>
			</div>
		</mat-step>
	</mat-horizontal-stepper>
</mat-dialog-content>
<mat-dialog-actions align="end" *ngIf="(this.childStepper$ | async) as stepper">
	<button mat-raised-button (click)="goBack()" type="button" [disabled]="stepper.selectedIndex === 0">Back</button>
	<button mat-raised-button (click)="goForward()" type="button" color="primary" cdkFocusInitial>
		{{ stepper.selectedIndex === totalStepsCount - 1 ? 'Submit' : 'Next' }}
	</button>
</mat-dialog-actions>

<ng-template #loading>
	<mat-spinner diameter=" 50"></mat-spinner>
</ng-template>