<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
    <!-- column -->
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div fxLayout="row" fxLayoutWrap="wrap">
                    <!-- column -->
                    <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
                        <mat-list>
                            <mat-list-item> <a target="_blank" href='/assets/content/Rules-LYN-Coed-2020.pdf'>COED</a> </mat-list-item>
                            <mat-list-item> <a target="_blank" href='/assets/content/Rules-LYN-Mens-2020.pdf'>Mens</a> </mat-list-item>
                        </mat-list>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
</div>
