/node_modules
/public/build
/public/hot
/public/storage
/resources/views/angular.blade.php
/storage/*.key
/vendor
.env
.env.backup
/.phpunit.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
