<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
	<!-- column -->
	<div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
		<mat-card>
			<mat-card-content>
				<!-- Row -->
				<div fxLayout="row" fxLayoutWrap="wrap" style="justify-content: center;">
					<!-- column -->
					<div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
						<div id="sponser-slider">
							<div className="keen-slider__slide" style="text-align: center; margin-bottom: 75px;">
								<img src="download-sponser/Contemporary-Designs" style="height:250px;" />
							</div>
							<div className="keen-slider__slide" style="text-align: center;">
								<img src="download-sponser/Gettysburg-Flag-Works" style="height:250px;" />
							</div>
						</div>
					</div>
				</div>
			</mat-card-content>
		</mat-card>
	</div>
	<!-- column -->
</div>