<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->

<div fxLayout="row" fxLayoutWrap="wrap">
	<!-- column -->
	<div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
		<mat-card>
			<mat-card-content>
				<mat-card-title>
					Configure League
				</mat-card-title>

				<mat-accordion multi #accordian>
					<mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
						<mat-expansion-panel-header>
							<mat-panel-title>
								League
							</mat-panel-title>
							<mat-panel-description>
							</mat-panel-description>
						</mat-expansion-panel-header>

						<form [formGroup]="leagueFormGroup">
							<h6 class="m-0">Settings</h6>
							<div fxLayout="row wrap" *ngIf="!addLeague">
								<div fxFlex.gt-sm="35" fxFlex.gt-xs="60" fxFlex="100" class="align-self-center">
									<p class="subtitle m-t-2 m-b-0">Choose a league to start configuring the settings.</p>
									<mat-form-field>
										<mat-label>League</mat-label>
										<mat-select formControlName="league" [disabled]="addLeague">
											<mat-option *ngFor="let league of league$ | async;" [value]="league.id">{{ league.name }}</mat-option>
										</mat-select>
										<mat-error *ngIf="leagueFormGroup.get('league').hasError('required')">
											League is <strong>required</strong>
										</mat-error>
									</mat-form-field>
								</div>
							</div>
							<div fxLayout="row wrap" *ngIf="addLeague">
								<div fxFlex.gt-sm="35" fxFlex.gt-xs="60" fxFlex="100" class="align-self-center">
									<p class="subtitle m-t-2 m-b-0">To create a league please configure the settings.</p>
								</div>
							</div>
							<div fxLayout="row wrap">
								<div fxFlex.gt-sm="35" fxFlex.gt-xs="60" fxFlex="100" class="align-self-center">
									<ng-container>
										<p *ngIf="leagueErrors" class="m-0">
											<ng-container *ngFor="let errors of leagueErrors;">
												<span class="text-danger">
													{{ errors }}
												</span>
												<br />
											</ng-container>
										</p>
										<mat-form-field>
											<mat-label>Name</mat-label>
											<input matInput formControlName="name">
											<mat-error *ngIf="leagueFormGroup.get('name').hasError('required')">
												Name is <strong>required</strong>
											</mat-error>
										</mat-form-field>

										<mat-form-field>
											<mat-label>Sport</mat-label>
											<mat-select formControlName="sport">
												<mat-option *ngFor="let sport of sports" [value]="sport">{{ sport }}</mat-option>
											</mat-select>
											<mat-error *ngIf="leagueFormGroup.get('sport').hasError('required')">
												Sport is <strong>required</strong>
											</mat-error>
										</mat-form-field>
									</ng-container>
								</div>
							</div>
						</form>

						<mat-action-row>
							<button mat-button (click)="toggleLeagueFormType()">
								<ng-container *ngIf="addLeague">
									<mat-icon>edit</mat-icon> I want to Edit a League
								</ng-container>
								<ng-container *ngIf="!addLeague">
									<mat-icon>add_box</mat-icon> I want to Create a League
								</ng-container>
							</button>

							<div>
								<button mat-button color="warn" (click)="deleteLeague()" [disabled]="!leagueFormGroup.get('league').value">
									<mat-icon>delete</mat-icon> Delete
								</button>
								<button mat-button color="primary" (click)="saveLeague()" [disabled]="!leagueFormGroup.valid && !leagueFormGroup.get('league').value">
									<mat-icon>upgrade</mat-icon> {{ addLeague ? 'Create' : 'Update' }}
								</button>
							</div>
						</mat-action-row>
					</mat-expansion-panel>

					<mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" [disabled]="!leagueFormGroup.get('league').value">
						<mat-expansion-panel-header>
							<mat-panel-title>
								Division
							</mat-panel-title>
							<mat-panel-description *ngIf="step < 1">
								Settings for defining name of division
							</mat-panel-description>
						</mat-expansion-panel-header>

						<form [formGroup]="divisionFormGroup">
							<h6 class="m-0">Settings</h6>
							<div fxLayout="row wrap" *ngIf="!addDivision">
								<div fxFlex.gt-sm="35" fxFlex.gt-xs="60" fxFlex="100" class="align-self-center">
									<p class="subtitle m-t-2 m-b-0">Choose a division to start configuring its settings.</p>
									<mat-form-field>
										<mat-label>Division</mat-label>
										<mat-select formControlName="division" [disabled]="addDivision">
											<mat-option *ngFor="let division of division$ | async;" [value]="division.id">{{ division.name }}</mat-option>
										</mat-select>
										<mat-error *ngIf="divisionFormGroup.get('division').hasError('required')">
											Division is <strong>required</strong>
										</mat-error>
									</mat-form-field>
								</div>
							</div>
							<div fxLayout="row wrap" *ngIf="addDivision">
								<div fxFlex.gt-sm="35" fxFlex.gt-xs="60" fxFlex="100" class="align-self-center">
									<p class="subtitle m-t-2 m-b-0">To create a league please configure the settings.</p>
								</div>
							</div>
							<div fxLayout="row wrap">
								<div fxFlex.gt-sm="35" fxFlex.gt-xs="60" fxFlex="100" class="align-self-center">
									<ng-container>
										<p *ngIf="divisionErrors" class="m-0">
											<ng-container *ngFor="let errors of divisionErrors;">
												<span class="text-danger">
													{{ errors }}
												</span>
												<br />
											</ng-container>
										</p>
										<mat-form-field>
											<mat-label>Name</mat-label>
											<input matInput formControlName="name">
											<mat-error *ngIf="divisionFormGroup.get('name').hasError('required')">
												Name is <strong>required</strong>
											</mat-error>
										</mat-form-field>
									</ng-container>
								</div>
							</div>
						</form>

						<mat-action-row>
							<button mat-button (click)="toggleDivisionFormType()">
								<ng-container *ngIf="addDivision">
									<mat-icon>edit</mat-icon> I want to Edit a Division
								</ng-container>
								<ng-container *ngIf="!addDivision">
									<mat-icon>add_box</mat-icon> I want to Create a Division
								</ng-container>
							</button>

							<div>
								<button mat-button color="warn" (click)="deleteDivision()" [disabled]="!divisionFormGroup.get('division').value">
									<mat-icon>delete</mat-icon> Delete
								</button>
								<button mat-button color="primary" (click)="saveDivision()" [disabled]="!divisionFormGroup.valid && !divisionFormGroup.get('division').value">
									<mat-icon>upgrade</mat-icon> {{ addDivision ? 'Create' : 'Update' }}
								</button>
							</div>
						</mat-action-row>
					</mat-expansion-panel>

					<mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" [disabled]="!divisionFormGroup.get('division').value">
						<mat-expansion-panel-header>
							<mat-panel-title>
								Season
							</mat-panel-title>
							<mat-panel-description *ngIf="step < 2">
								Settings for defining start date, number of games, cost, etc.
							</mat-panel-description>
						</mat-expansion-panel-header>

						<form [formGroup]="seasonFormGroup">
							<p class="subtitle m-0">Choose a season to start configuring its settings.</p>
							<div fxLayout="row wrap">
								<div fxFlex.gt-sm="35" fxFlex.gt-xs="60" fxFlex="60" class="align-self-center">
									<mat-form-field>
										<mat-label>Season</mat-label>
										<mat-select formControlName="season" [disabled]="addSeason">
											<mat-option *ngFor="let season of season$ | async;" [value]="season.id">{{ season.id }}</mat-option>
										</mat-select>
										<mat-error *ngIf="seasonFormGroup.get('season').hasError('required')">
											Season is <strong>required</strong>
										</mat-error>
									</mat-form-field>
								</div>
								<div fxFlex.gt-sm="65" fxFlex.gt-xs="40" fxFlex="40" class="align-self-center">
									<button color="primary" mat-raised-button (click)="toggleSeasonFormType()">{{ !addSeason ? 'Add' : 'Edit' }} Season</button>
								</div>
								<div fxFlex.gt-sm="35" fxFlex.gt-xs="100" fxFlex="100" class="align-self-center">
									<ng-container *ngIf="seasonFormGroup.get('season').value || addSeason">
										<p class="subtitle m-t-15 m-b-0">Settings</p>
										<mat-slide-toggle formControlName="active">
											Active
										</mat-slide-toggle>
										<mat-form-field>
											<mat-label>Choose a start date</mat-label>
											<input matInput [matDatepicker]="picker" formControlName="start_at">
											<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
											<mat-datepicker #picker></mat-datepicker>
											<mat-error *ngIf="seasonFormGroup.get('start_at').hasError('required')">
												Start Date is <strong>required</strong>
											</mat-error>
										</mat-form-field>
										<mat-form-field>
											<mat-label>Number of Games</mat-label>
											<input type="number" matInput formControlName="number_of_games">
											<mat-error *ngIf="seasonFormGroup.get('number_of_games').hasError('required')">
												Number of Games is <strong>required</strong>
											</mat-error>
										</mat-form-field>
										<mat-form-field>
											<mat-label>League Fees</mat-label>
											<input type="number" matInput formControlName="league_fee">
											<mat-error *ngIf="seasonFormGroup.get('league_fee').hasError('required')">
												League Fees is <strong>required</strong>
											</mat-error>
										</mat-form-field>
										<mat-form-field>
											<mat-label>Offical Fee Per Game</mat-label>
											<input type="number" matInput formControlName="offical_fee_per_game">
											<mat-error *ngIf="seasonFormGroup.get('offical_fee_per_game').hasError('required')">
												Offical Fee Per Game is <strong>required</strong>
											</mat-error>
										</mat-form-field>
									</ng-container>
								</div>
							</div>
						</form>

						<mat-action-row>
							<button mat-raised-button color="primary" (click)="saveSeason()" [disabled]="!seasonFormGroup.valid">{{ addSeason ? 'Create' : 'Update' }}</button>
						</mat-action-row>
					</mat-expansion-panel>

					<mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" [disabled]="!seasonFormGroup.get('season').value">
						<mat-expansion-panel-header>
							<mat-panel-title>
								Teams
							</mat-panel-title>
							<mat-panel-description *ngIf="step < 3">
								Lists teams signed up for the selected season
							</mat-panel-description>
						</mat-expansion-panel-header>

						<mat-action-row>
							<button mat-raised-button color="primary" (click)="nextStep()">Update</button>
						</mat-action-row>
					</mat-expansion-panel>
				</mat-accordion>
			</mat-card-content>
		</mat-card>
	</div>
	<!-- column -->
</div>