.mat-expansion-panel-header {
	mat-panel-title {
		font-size: 18px;
	}
}

.mat-stepper-horizontal {
	margin-top: 8px;
}

.mat-form-field {
	margin-top: 10px;
}

.subtitle {
	color: rgba(0, 0, 0, 0.54);
}

.mat-action-row {
	place-content: space-between;
	padding      : 16px 10px 16px 8px;

	button {
		padding: 0 6px;
		margin : 0 !important;
	}
}

mat-slide-toggle {
	margin : 8px 0 0;
	display: block;
}