<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
	<!-- column -->
	<div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
		<mat-card>
			<mat-card-content class="title">
				<form [formGroup]="formControl">
					<div fxLayout="row wrap" class="align-items-center">
						<div fxFlex.gt-md="25" fxFlex="50" class="p-10">
							<mat-form-field>
								<input matInput formControlName="team" placeholder="Search Teams">
							</mat-form-field>
						</div>
						<div fxFlex.gt-md="15" fxFlex="50" class="p-10">
							<mat-form-field>
								<mat-label>Division</mat-label>
								<mat-select formControlName="division" appearance="fill">
									<mat-option>None</mat-option>
									<mat-option *ngFor="let division of division$ | async;" [value]="division.id">{{ division.league.name }} {{ division.name }}</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
					</div>
				</form>
				<mat-chip-list cdkDropListOrientation="horizontal">
					<mat-chip color="primary" *ngIf="formControl.get('team').value != ''" selected>
						Team: {{ formControl.get('team').value }}
					</mat-chip>
				</mat-chip-list>
				<mat-chip color="primary" *ngIf="formControl.get('division').value != null" selected>
					Division: {{ divisionBadgeName }}
				</mat-chip>
			</mat-card-content>
		</mat-card>
	</div>
	<!-- column -->
</div>
<ng-container *ngFor="let season of season$ | async;">
	<app-standings-table [season]="season" [teamSearch]="formControl.get('team').value" [divisionSearch]="formControl.get('division').value" [divisionBadgeName]="divisionBadgeName"></app-standings-table>
</ng-container>