<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
	<!-- column -->
	<div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
		<mat-card>
			<mat-card-content>
				<!-- Row -->
				<div fxLayout="row" fxLayoutWrap="wrap" style="justify-content: center;">
					<!-- column -->
					<div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
						<div id="sponsor-slider">
              <div className="keen-slider__slide" style="text-align: center; margin-bottom: 75px;">
                <img src="download-sponsor/Spinners-Pizza" style="max-width:100%; max-height:250px;" />
              </div>
							<div className="keen-slider__slide" style="text-align: center; margin-bottom: 75px;">
								<img src="download-sponsor/Contemporary-Designs" style="max-width:100%; max-height:250px;" />
							</div>
							<div className="keen-slider__slide" style="text-align: center; margin-bottom: 75px;">
								<img src="download-sponsor/Gettysburg-Flag-Works" style="max-width:100%; max-height:250px;" />
							</div>
							<div className="keen-slider__slide" style="text-align: center;">
								<img src="download-sponsor/Wyatts-Wicked-Goods" style="max-width:100%; max-height:250px;" />
								<br />
								<a href="https://www.wyattswickedgoods.com" style="margin-left: -50px;" target="_blank">https://www.wyattswickedgoods.com</a>
							</div>
						</div>
					</div>
				</div>
			</mat-card-content>
		</mat-card>
	</div>
	<!-- column -->
</div>
