<h1 mat-dialog-title>Registration</h1>
<div mat-dialog-content>
    <form [formGroup]="formControl">
        <p>Please fill out the following information to register a team.</p>
        <mat-form-field>
            <mat-label>Home Name</mat-label>
            <mat-select formControlName="homeTeam" appearance="fill">
                <mat-option *ngFor="let team of listOfTeams;" [value]="team.name">{{team.name }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Away Name</mat-label>
            <mat-select formControlName="awayTeam" appearance="fill">
                <mat-option *ngFor="let team of listOfTeams;" [value]="team.name">{{team.name }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Date</mat-label>
            <input matInput formControlName="date">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Field</mat-label>
            <mat-select formControlName="field" appearance="fill">
                <mat-option *ngFor="let field of listOfFields;" [value]="field.name">{{field.name }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Umpire</mat-label>
            <mat-select formControlName="umpire" appearance="fill">
                <mat-option *ngFor="let umpire of listOfUmpires;" [value]="umpire.name">{{umpire.name }}</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>
<mat-dialog-actions align="end">
    <button mat-raised-button (click)="onNoClick()">Cancel</button>
    <button mat-raised-button color="primary" cdkFocusInitial>Register</button>
</mat-dialog-actions>
