<h1 mat-dialog-title> {{ injectedData.type === 'remove' ? 'Remove' : 'Schedule' }} Game</h1>
<form *ngIf="injectedData.type !== 'remove'" [formGroup]="formControl" (ngSubmit)="addGame()">
	<div mat-dialog-content>
		<ng-container *ngIf="!isLoading; else loading">
			<p *ngIf="errors" style="margin-top: 0;">
				<ng-container *ngFor="let errors of errors;">
					<span class="text-danger">
						{{ errors }}
					</span>
					<br />
				</ng-container>
			</p>

			<div fxLayout="row wrap" class="align-items-center">
				<div fxFlex.gt-md="100" fxFlex="100" class="p-10">
					<mat-form-field>
						<mat-label>Division</mat-label>
						<mat-select formControlName="division" appearance="fill">
							<mat-option *ngFor="let division of division$ | async;" [value]="division.id">{{ division.league.name }} {{ division.name }}</mat-option>
						</mat-select>
						<mat-error *ngIf="formControl.get('division').hasError('required')">
							Division is <strong>required</strong>
						</mat-error>
					</mat-form-field>
				</div>
			</div>

			<ng-container *ngIf="formControl.get('division').value">
				<ng-container *ngIf="(this.game$ | async) as game; else loading">
					<div fxLayout="row wrap" class="align-items-center">
						<div fxFlex.gt-md="50" fxFlex="50" class="p-10">
							<mat-form-field>
								<mat-label>Home Team</mat-label>
								<mat-select formControlName="homeTeam" appearance="fill">
									<mat-option *ngFor="let team of game.teams;" [value]="team.id">{{ team.name }}</mat-option>
								</mat-select>
								<mat-error *ngIf="formControl.get('homeTeam').hasError('required')">
									Home Team is <strong>required</strong>
								</mat-error>
							</mat-form-field>
						</div>
						<div fxFlex.gt-md="50" fxFlex="50" class="p-10">
							<mat-form-field>
								<mat-label>Away Team</mat-label>
								<mat-select formControlName="awayTeam" appearance="fill">
									<mat-option *ngFor="let team of game.teams;" [value]="team.id">{{team.name }}</mat-option>
								</mat-select>
								<mat-error *ngIf="formControl.get('awayTeam').hasError('required')">
									Away Team is <strong>required</strong>
								</mat-error>
							</mat-form-field>
						</div>

						<div fxFlex.gt-md="50" fxFlex="50" class="p-10">
							<mat-form-field>
								<input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date & time" formControlName="date">
								<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
								<ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="false" [stepMinute]="5" [color]="primary" [enableMeridian]="true" [defaultTime]="[13,0,0]">
								</ngx-mat-datetime-picker>
								<mat-error *ngIf="formControl.get('date').hasError('required')">
									Date is <strong>required</strong>
								</mat-error>
							</mat-form-field>
						</div>

						<div fxFlex.gt-md="50" fxFlex="50" class="p-10">
							<mat-form-field>
								<mat-label>Umpire</mat-label>
								<mat-select formControlName="umpire" appearance="fill">
									<mat-option *ngFor="let umpire of game.umpires;" [value]="umpire.id">{{umpire.name }}</mat-option>
								</mat-select>
							</mat-form-field>
						</div>

						<div fxFlex.gt-md="50" fxFlex="50" class="p-10">
							<mat-form-field>
								<mat-label>Field</mat-label>
								<mat-select formControlName="field" appearance="fill">
									<mat-option *ngFor="let field of game.fields;" [value]="field.id">{{field.name }}</mat-option>
								</mat-select>
								<mat-error *ngIf="formControl.get('field').hasError('required')">
									Field is <strong>required</strong>
								</mat-error>
							</mat-form-field>
						</div>

						<div fxFlex.gt-md="50" fxFlex="50" class="p-10">
							<mat-form-field>
								<mat-label>Field #</mat-label>
								<mat-select formControlName="field_number" appearance="fill">
									<mat-option *ngFor="let field of getFieldNumberCollection(totalFields);" [value]="field">{{ field }}</mat-option>
								</mat-select>
							</mat-form-field>
						</div>

						<div fxFlex.gt-md="50" fxFlex="50" class="p-10">
							<mat-form-field>
								<mat-label>Home Score</mat-label>
								<input type="number" matInput formControlName="homeScore" appearance="fill">
							</mat-form-field>
						</div>
						<div fxFlex.gt-md="50" fxFlex="50" class="p-10">
							<mat-form-field>
								<mat-label>Away Score</mat-label>
								<input type="number" matInput formControlName="awayScore" appearance="fill">
							</mat-form-field>
						</div>

						<div fxFlex.gt-md="50" fxFlex="50" class="p-10">
							<mat-form-field>
								<mat-label>Outcome</mat-label>
								<mat-select formControlName="outcome" appearance="Select an outcome">
									<mat-option>None</mat-option>
									<mat-option value="completed">completed</mat-option>
									<mat-option value="delayed">delayed</mat-option>
									<mat-option value="rescheduled">rescheduled</mat-option>
									<mat-option value="canceled">canceled</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<div fxFlex.gt-md="50" fxFlex="50" class="p-10">
							<mat-form-field>
								<mat-label>Notes</mat-label>
								<textarea matInput formControlName="notes"></textarea>
							</mat-form-field>
						</div>
					</div>
				</ng-container>
			</ng-container>
		</ng-container>
	</div>
	<mat-dialog-actions align="end">
		<button type="button" mat-raised-button (click)="cancel()">Cancel</button>
		<button mat-raised-button color="primary" cdkFocusInitial>Schedule</button>
	</mat-dialog-actions>
</form>
<ng-container *ngIf="injectedData.type === 'remove'">
	<p mat-dialog-content *ngIf="!isLoading; else loading">
		Are you sure you want to remove <b>{{ (scheduledGame$ | async)?.home_team.name }}</b> vs <b>{{ (scheduledGame$ | async)?.away_team.name }}</b> on <b>{{ (scheduledGame$ | async)?.game_date | date: 'EEEE MMMM d @ h:mm a' }}</b>?
	</p>
	<mat-dialog-actions align="end">
		<button type="button" mat-raised-button (click)="cancel()">Cancel</button>
		<button mat-raised-button color="primary" cdkFocusInitial (click)="removeGame()">Remove</button>
	</mat-dialog-actions>
</ng-container>
<ng-template #loading>
	<mat-spinner diameter="50"></mat-spinner>
</ng-template>