<div fxLayout="row" fxLayoutWrap="wrap">
	<!-- column -->
	<div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
		<mat-card>
			<mat-card-content class="title">
				<form [formGroup]="formControl">
					<div fxLayout="row wrap" class="align-items-center">
						<div fxFlex.gt-md="25" fxFlex="50" class="p-10">
							<mat-form-field>
								<input matInput formControlName="team" placeholder="Search Teams">
							</mat-form-field>
						</div>
						<div fxFlex.gt-md="15" fxFlex="50" class="p-10">
							<mat-form-field>
								<mat-label>League</mat-label>
								<mat-select formControlName="league" appearance="fill">
									<mat-option>None</mat-option>
									<mat-option value="All">All</mat-option>
									<mat-option *ngFor="let league of league$ | async;" [value]="league.id">{{ league.name }}</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<div fxFlex.gt-md="15" fxFlex="50" class="p-10">
							<mat-form-field>
								<mat-label>Division</mat-label>
								<mat-select formControlName="division" appearance="fill">
									<mat-option>None</mat-option>
									<mat-option value="All">All</mat-option>
									<mat-option *ngFor="let division of division$ | async;" [value]="division.id">{{ division.name }}</mat-option>
								</mat-select>
							</mat-form-field>
						</div>

						<div fxFlex.gt-md="45" fxFlex="100" class="p-10" *ngIf="authenticationService.isAuthenticated" style="text-align:right">
							<button color="primary" mat-raised-button (click)="openTeam('add')">Add Team</button>
						</div>
					</div>
				</form>
			</mat-card-content>
		</mat-card>
	</div>
	<!-- column -->
</div>
<div fxLayout="row" fxLayoutWrap="wrap">
	<!-- column -->
	<div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
		<mat-card>
			<mat-card-content>
				<mat-card-title>Teams</mat-card-title>

				<div class="table-responsive">
					<table mat-table [dataSource]="dataSource" matSort class="table isMobile" *ngIf="(team$ | async); else loading">
						<ng-container matColumnDef="action" *ngIf="authenticationService.isAuthenticated">
							<th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
							<td mat-cell *matCellDef="let element">
								<button color="warn" mat-icon-button (click)="openTeam('remove', element.id)">
									<mat-icon class="material-icons-outlined">delete</mat-icon>
								</button>
								<button color="primary" mat-icon-button (click)="openTeam('edit', element.id)">
									<mat-icon class="material-icons-outlined">edit</mat-icon>
								</button>
							</td>
						</ng-container>

						<ng-container matColumnDef="name">
							<th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
							<td mat-cell *matCellDef="let element">
								<span>{{element.name}}</span>
							</td>
						</ng-container>

						<ng-container matColumnDef="abbreviation">
							<th mat-header-cell *matHeaderCellDef mat-sort-header> Abbreviation </th>
							<td mat-cell *matCellDef="let element">
								<span>{{element.abbreviation}}</span>
							</td>
						</ng-container>

						<ng-container matColumnDef="league">
							<th mat-header-cell *matHeaderCellDef mat-sort-header> League </th>
							<td mat-cell *matCellDef="let element">
								<span>{{element.division.league.name}}</span>
							</td>
						</ng-container>

						<ng-container matColumnDef="division">
							<th mat-header-cell *matHeaderCellDef mat-sort-header> Division </th>
							<td mat-cell *matCellDef="let element">
								<span>{{element.division.name}}</span>
							</td>
						</ng-container>

						<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
						<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
					</table>

					<div *ngIf="noData | async" class="no-records">
						<span>No teams found</span>
					</div>

					<ng-template #loading>
						<mat-spinner diameter="50"></mat-spinner>
					</ng-template>
				</div>
			</mat-card-content>
		</mat-card>
	</div>
	<!-- column -->
</div>