<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
	<!-- column -->
	<div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
		<mat-card>
			<mat-card-content>
				<!-- Row -->
				<div fxLayout="row" fxLayoutWrap="wrap">
					<!-- column -->
					<div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
						<h4>Basketball</h4>
						<mat-list>
							<mat-list-item> <a href='download/Basketball_Info_Sheet'>Info Sheet</a> </mat-list-item>
							<mat-list-item> <a href='download/Basketball_Sign_Up_Sheet'>Sign Up Sheet</a> </mat-list-item>
							<mat-list-item> <a href='download/Basketball_Sponser_Letter'>Sponser Letter</a> </mat-list-item>
							<mat-list-item> <a href='download/Basketball_Rules'>Rules</a> </mat-list-item>
						</mat-list>

						<h4>Softball</h4>
						<mat-list>
							<mat-list-item> <a href='download/ASA_Not_Approved'>Non Approved Bats</a> </mat-list-item>
							<mat-list-item> <a href='download/Benson_Sunday'>Sunday League Rules</a> </mat-list-item>
							<mat-list-item> <a href='download/Lynn_COED'>COED League Rules</a> </mat-list-item>
							<mat-list-item> <a href='download/Lynn_Men'>Mens League Rules</a> </mat-list-item>
						</mat-list>

						<h4>Softball - Sunday (BESS)</h4>
						<mat-list>
							<mat-list-item> <a href='download/2022_BESS_Softball_Info_Sheet_And_Signup_Sheet'>Info & Sign Up</a> </mat-list-item>
							<mat-list-item> <a href='download/2022_BESS_Softball_Sponsor_Letter'>Sponser Letter</a> </mat-list-item>
						</mat-list>

						<h4>Softball - Weekday (Lynn's)</h4>
						<mat-list>
							<mat-list-item> <a href='download/2022_Lynns_Softball_Info_Sheet_And_Signup_Sheet'>Info & Sign Up</a> </mat-list-item>
							<mat-list-item> <a href='download/2022_Lynns_Softball_Sponsor_Letter'>Sponser Letter</a> </mat-list-item>
						</mat-list>
					</div>
				</div>
			</mat-card-content>
		</mat-card>
	</div>
	<!-- column -->
</div>