<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
	<!-- column -->
	<div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
		<mat-card>
			<mat-card-content>
				<!-- Row -->
				<div fxLayout="row" fxLayoutWrap="wrap">
					<!-- column -->
					<div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
            <h4>General</h4>
            <mat-list>
              <mat-list-item><a href='download/2023_BESS_Code_of_Conduct_Policy'>Player Code of Conduct Policy</a></mat-list-item>
            </mat-list>

            <h4>Basketball</h4>
            <mat-list>
              <mat-list-item><a href='download/2024_BESS_Basketball_Rules'>Rules</a></mat-list-item>
              <mat-list-item><a href='download/2024_BESS_Basketball_Info_Sheet_Winter'>Information Sheet</a></mat-list-item>
              <mat-list-item><a href='download/2024_BESS_Basketball_Signup_Sheet_Winter'>Sign Up Sheet</a></mat-list-item>
              <mat-list-item><a href='download/2024_BESS_Basketball_Sponsor_Letter'>Sponsor Letter</a></mat-list-item>
            </mat-list>

						<h4>Softball</h4>
						<mat-list>
							<mat-list-item><a href='download/ASA_Not_Approved'>Non Approved Bats</a></mat-list-item>
              <mat-list-item><a href='download/Ground_Rules'>Ground Rules</a></mat-list-item>
              <mat-list-item><a href='download/Roster_Sheet'>Roster Sheet</a></mat-list-item>
              <mat-list-item><a href='download/Lineup_Card'>Lineup Card</a></mat-list-item>
						</mat-list>

						<h4>Softball - Sunday (BESS)</h4>
						<mat-list>
              <mat-list-item><a href='download/2024_Lynns_Softball_COED_Rules'>Sunday League Rules</a></mat-list-item>
              <mat-list-item><a href='download/2024_BESS_Softball_Info_Sheet_And_Signup_Sheet'>Information & Sign Up</a></mat-list-item>
							<mat-list-item><a href='download/2024_BESS_Softball_Sponsor_Letter'>Sponsor Letter</a></mat-list-item>
						</mat-list>

            <h4>Softball - Legislative</h4>
            <mat-list>
              <mat-list-item><a href='download/2024_BESS_Softball_Legislative_Info_Sheet_And_Signup_Sheet'>Information & Sign Up</a></mat-list-item>
              <mat-list-item><a href='download/2024_BESS_Softball_Legislative_Sponsor_Letter'>Sponsor Letter</a></mat-list-item>
            </mat-list>

						<h4>Softball - Weekday (Lynn's)</h4>
						<mat-list>
              <mat-list-item><a href='download/2024_Lynns_Softball_COED_Rules'>COED League Rules</a></mat-list-item>
              <mat-list-item><a href='download/2024_Lynns_Softball_Mens_Rules'>Mens League Rules</a></mat-list-item>
              <mat-list-item><a href='download/2024_Lynns_Softball_Info_Sheet_And_Signup_Sheet'>Information & Sign Up</a></mat-list-item>
							<mat-list-item><a href='download/2024_Lynns_Softball_Sponsor_Letter'>Sponsor Letter</a></mat-list-item>
						</mat-list>
					</div>
				</div>
			</mat-card-content>
		</mat-card>
	</div>
	<!-- column -->
</div>
