<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
	<!-- column -->
	<div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
		<mat-card>
			<mat-card-content>
				<!-- Row -->
				<div fxLayout="row" fxLayoutWrap="wrap">
					<!-- column -->
					<div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
            <h4>Website Terms of Service</h4>

            <p>Welcome to bensonssports.com (the "Website"). By accessing or using our Website, you agree to comply with and be bound by these Terms of Service (the "Terms"). If you do not agree to these Terms, please do not use our Website.</p>

            <hr>

            <h5>1. Acceptance of Terms</h5>
            <p>By accessing, browsing, or using the Website, you acknowledge that you have read, understood, and agree to be bound by these Terms and all applicable laws and regulations. These Terms constitute a binding agreement between you and Dreadnought Software LLC ("we," "us," or "our").</p>

            <hr>

            <h5>2. Eligibility</h5>
            <p>You must be at least 18 years old or the age of majority in your jurisdiction to use this Website. By using the Website, you represent and warrant that you meet these eligibility requirements.</p>

            <hr>

            <h5>3. Changes to Terms</h5>
            <p>We reserve the right to modify these Terms at any time. Any changes will be effective immediately upon posting. It is your responsibility to review these Terms periodically. Continued use of the Website after any changes constitutes your acceptance of the updated Terms.</p>

            <hr>

            <h5>4. Use of the Website</h5>
            <p>You agree to use the Website for lawful purposes only. Prohibited activities include but are not limited to:</p>
            <ul>
              <li>Violating any applicable laws or regulations.</li>
              <li>Engaging in fraudulent or deceptive practices.</li>
              <li>Attempting to gain unauthorized access to the Website or its systems.</li>
              <li>Transmitting harmful or malicious software.</li>
              <li>Interfering with the operation of the Website or any other user’s enjoyment of the Website.</li>
            </ul>

            <hr>

            <h5>5. Intellectual Property</h5>
            <p>All content on the Website, including but not limited to text, images, graphics, logos, and software, is the property of Dreadnought Software LLC or its licensors and is protected by copyright, trademark, and other intellectual property laws. You may not reproduce, distribute, or create derivative works from the content without our express written consent.</p>

            <hr>

            <h5>6. User Accounts</h5>
            <p>To access certain features of the Website, you may need to create an account. You are responsible for maintaining the confidentiality of your account information and for all activities that occur under your account. You agree to notify us immediately of any unauthorized use of your account.</p>

            <hr>

            <h5>7. Third-Party Links</h5>
            <p>Our Website may contain links to third-party websites or services that are not owned or controlled by Dreadnought Software LLC. We are not responsible for the content, policies, or practices of any third-party websites. Accessing third-party links is at your own risk.</p>

            <hr>

            <h5>8. Disclaimer of Warranties</h5>
            <p>The Website is provided "as is" and "as available" without warranties of any kind, either express or implied, including but not limited to implied warranties of merchantability, fitness for a particular purpose, or non-infringement. We do not warrant that the Website will be uninterrupted, error-free, or free of harmful components.</p>

            <hr>

            <h5>9. Limitation of Liability</h5>
            <p>To the maximum extent permitted by law, Dreadnought Software LLC and its affiliates, officers, employees, and agents shall not be liable for any indirect, incidental, special, consequential, or punitive damages arising out of or related to your use of the Website, even if advised of the possibility of such damages.</p>

            <hr>

            <h5>10. Indemnification</h5>
            <p>You agree to indemnify, defend, and hold harmless Dreadnought Software LLC, its affiliates, officers, employees, and agents from and against any claims, liabilities, damages, losses, and expenses arising out of or related to your use of the Website or violation of these Terms.</p>

            <hr>

            <h5>11. Termination</h5>
            <p>We reserve the right to terminate or suspend your access to the Website at any time, without notice, for any reason, including but not limited to your violation of these Terms.</p>

            <hr>

            <h5>12. Governing Law</h5>
            <p>These Terms shall be governed by and construed in accordance with the laws of the laws of the State of New York, USA., without regard to its conflict of law principles. Any disputes arising under these Terms shall be resolved exclusively in the courts of State of New York, USA.</p>

            <hr>

            <h5>13. Contact Information</h5>
            <p>If you have any questions about these Terms, please contact us at:</p>
            <address>
              Dreadnought Software LLC<br>
              <span>dreadnoughtsoftwarellc</span><span> [at] </span><span>gmail</span><span> [dot] </span><span>com</span>
            </address>
            <hr>
            <h5>Last Updated: 12/20/2024</h5>
				  </div>
        </div>
			</mat-card-content>
		</mat-card>
	</div>
	<!-- column -->
</div>
