@import '../../../assets/styles/variable';

.hero {
    position: relative;
    min-height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
        content:"";
        position: absolute;
        background-size: cover;
        background-image: url('https://www.publicdomainpictures.net/pictures/50000/velka/softball.jpg');
        filter: blur(2px) saturate(0.4) brightness(0.6);
        top: 0;
        bottom: 0;
        left:0;
        right:0;
    }

    .hero {
        width: 100%;

        .hero-title {
            left: 0;
            top: 0;
            margin: 0;
            width: 100%;
            position: absolute;

            h1 {
                margin: 0;
                left: 50%;
                width: 100%;
                position: absolute;
                text-align: center;
                transform: translate(-50%, 0%);
                padding: 15px;
                z-index: 1;
                filter: drop-shadow(2px 4px 6px black);
                font-family: Poppins;
                letter-spacing: 3px;

                span {
                    &::first-word {
                     color:#1e88e5;
                    }

                    color: white;
                    font-weight: 800;
                    font-size: 3.5rem;
                    line-height: 3.5rem;
                    position: unset;
                    display: inline-block;
                    margin: 0;
                }

                span + span {
                    margin-left: 10px;
                }
            }
        }

        .hero-content {
            position: absolute;
            padding: 15px;
            border-radius: 3px;
            z-index: 1;
            filter: drop-shadow(2px 4px 6px black);
            bottom: 10%;

            span {
                font-size: 1.25rem;
                color: #ffffff;
                margin-bottom: 20px;
                position: relative;

                &.hero-buttons {
                    display: block;
                    margin: 5px 0 0 0;
                    text-align: center;

                    button + button {
                        margin-left: 5px;
                    }

                    button {
                        font-size: 1rem;
                    }
                }


            }
        }
    }
}



/*******************
Timeline page
******************/
.timeline {
    position: relative;
    padding: 20px 0 20px;
    list-style: none;
    max-width: 60rem;
}

.timeline:before {
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 3px;
    margin-left: -1.5px;
    background-color: $light;
}

.timeline > li {
    position: relative;
    margin-bottom: 20px;
}

.timeline > li:before,
.timeline > li:after {
    content: ' ';
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: ' ';
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    float: left;
    position: relative;
    width: 45%;
    margin-top: 5px;
    padding: 15px;
    border: 1px solid $border;
    border-radius: $radius;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);

    .timeline-heading {
        h1, h2, h3, h4 {
            margin-bottom: 0;
        }

        p {
            margin: .5rem 0;
        }
    }
}

.timeline > li > .timeline-panel:before {
    content: ' ';
    display: inline-block;
    position: absolute;
    top: 26px;
    right: -8px;
    border-top: 8px solid transparent;
    border-right: 0 solid $border;
    border-bottom: 8px solid transparent;
    border-left: 8px solid $border;
}

.timeline > li > .timeline-panel:after {
    content: ' ';
    display: inline-block;
    position: absolute;
    top: 27px;
    right: -7px;
    border-top: 7px solid transparent;
    border-right: 0 solid $white;
    border-bottom: 7px solid transparent;
    border-left: 7px solid $white;
}

.timeline > li > .timeline-badge {
    z-index: 10;
    position: absolute;
    top: 16px;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    border-radius: 50% 50% 50% 50%;
    text-align: center;
    font-size: 1.4em;
    line-height: 50px;
    color: #fff;
    overflow: hidden;

    mat-icon {
        margin-top: 12px;
    }
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    right: auto;
    left: -8px;
    border-right-width: 8px;
    border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    right: auto;
    left: -7px;
    border-right-width: 7px;
    border-left-width: 0;
}

.timeline-badge.primary {
    background-color: $primary;
}

.timeline-badge.success {
    background-color: $success;
}

.timeline-badge.warning {
    background-color: $warning;
}

.timeline-badge.danger {
    background-color: $danger;
}

.timeline-badge.info {
    background-color: $info;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
    font-weight: 400;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}

//This is for the responsive timeline
@media (max-width: 767px) {
    /*Timeline*/
    ul.timeline:before {
        left: 40px;
    }
    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
    }
    ul.timeline > li > .timeline-badge {
        top: 16px;
        left: 15px;
        margin-left: 0;
    }
    ul.timeline > li > .timeline-panel {
        float: right;
    }
    ul.timeline > li > .timeline-panel:before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0;
    }
    ul.timeline > li > .timeline-panel:after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0;
    }
}
