<div fxLayout="row wrap">
	<div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
		<mat-card class="hero">
			<mat-card-content class="hero">
				<div class="hero-title">
					<div class="hero-title-content">
						<img src="build/assets/images/branding/full/png/Color logo - no background.png">
						<span class="hero-banner">
              SPONSORED BY <span class="company-name bensons-brand">SPINNERS</span>
              <span class="small-text">
                AND THE NEW HOME OF <span class="company-name lynns-brand">LYNN's SOFTBALL </span> and <span class="company-name bensons-brand">Bensons Basketball </span>
              </span>
						</span>
					</div>
				</div>
				<div class="hero-content">
					<span>
						Looking for a softball league in the Capital District?
					</span>
					<span class="hero-buttons">
						<button color="primary" mat-raised-button class="hero__img-refresh" (click)="openRegisterDialog()">Register</button>
						<button mat-raised-button class="hero__img-refresh" (click)="openLookingForATeamDialog()">Looking for a Team or Players?</button>
					</span>
				</div>
			</mat-card-content>
		</mat-card>
	</div>

	<div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex.gt-md="100" fxFlex="100">
		<ng-container *ngIf="(leagueStat$ | async) as leagueStat; else loading">
			<div fxLayout="row wrap">
				<div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex.gt-md="50" fxFlex="50">
					<mat-card>
						<mat-card-content>
							<!-- Row -->
							<div class="d-flex no-block">
								<!-- column -->
								<div class="m-r-10 no-shrink">
									<button mat-fab color="accent" mat-card-icon class="shadow-none bg-inverse">
										<mat-icon>groups</mat-icon>
									</button>
								</div>
								<!-- column -->
								<div>
									<h3 class="m-0">{{ leagueStat.divisions }}</h3>
									<h6 class="text-muted m-0">Divisions</h6>
								</div>
							</div>
						</mat-card-content>
					</mat-card>
				</div>
				<div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex.gt-md="50" fxFlex="50">
					<mat-card>
						<mat-card-content>
							<!-- Row -->
							<div class="d-flex no-block">
								<!-- column -->
								<div class="m-r-10 no-shrink">
									<button mat-fab mat-card-icon class="shadow-none bg-inverse bg-success">
										<mat-icon>people</mat-icon>
									</button>
								</div>
								<!-- column -->
								<div>
									<h3 class="m-0">{{ leagueStat.teams }}</h3>
									<h6 class="text-muted m-0">Teams</h6>
								</div>
							</div>
						</mat-card-content>
					</mat-card>
				</div>
				<div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex.gt-md="50" fxFlex="50">
					<mat-card>
						<mat-card-content>
							<!-- Row -->
							<div class="d-flex no-block">
								<!-- column -->
								<div class="m-r-10 no-shrink">
									<button mat-fab color="warn" mat-card-icon class="shadow-none bg-success">
										<mat-icon>person</mat-icon>
									</button>
								</div>
								<!-- column -->
								<div>
									<h3 class="m-0">{{ leagueStat.teams * 14 }}+</h3>
									<h6 class="text-muted m-0">Players</h6>
								</div>

							</div>
						</mat-card-content>
					</mat-card>
				</div>
				<div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex.gt-md="50" fxFlex="50">
					<mat-card>
						<mat-card-content>
							<!-- Row -->
							<div class="d-flex no-block">
								<!-- column -->
								<div class="m-r-10 no-shrink">
									<button mat-fab color="accent" mat-card-icon class="shadow-none">
										<mat-icon>map</mat-icon>
									</button>
								</div>
								<!-- column -->
								<div>
									<h3 class="m-0">{{ leagueStat.fields }}</h3>
									<h6 class="text-muted m-0">Locations</h6>
								</div>

							</div>
						</mat-card-content>
					</mat-card>
				</div>
			</div>
		</ng-container>

		<ng-template #loading>
			<mat-spinner diameter="50"></mat-spinner>
		</ng-template>
	</div>

	<div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex.gt-md="100" fxFlex="100">
		<mat-card>
			<mat-card-content>
				<div class="row-content" fxLayout="row wrap">
					<div fxFlex.gt-sm="30" fxFlex.gt-xs="100" fxFlex="100">
						<h4>League Updates</h4>
						<a class="twitter-timeline" data-tweet-limit="1" data-lang="en" data-chrome="noheader,nofooter,noborders" data-dnt="true" data-theme="light" href="https://twitter.com/BensonsESS">Tweets by BensonsESS</a>
					</div>

					<div fxFlex.gt-sm="70" fxFlex.gt-xs="100" fxFlex="100">
						<h4>League Information</h4>
						<p>Benson's Empire State Sports Ltd. is a sports management organization located in Albany, NY which serves the greater Capital Region. The softball league plays from April to September and the Basketball league plays from October to
							April.
						</p>
						<mat-list class="compact-mat-list">
							<mat-list-item>
								<mat-icon class="material-icons-two-tone">location_on</mat-icon> Access to over {{ (leagueStat$ | async)?.fields }}+ locations
							</mat-list-item>
							<mat-list-item>
								<mat-icon class="material-icons-two-tone">badge</mat-icon> Minimum of 1 umpire/referee per game
							</mat-list-item>
							<mat-list-item>
								<mat-icon class="material-icons-two-tone">schedule</mat-icon> Flexible scheduling & multiple start times
							</mat-list-item>
							<mat-list-item>
								<mat-icon class="material-icons-two-tone">monetization_on</mat-icon> Free web advertising for team sponsors
							</mat-list-item>
							<mat-list-item>
								<mat-icon class="material-icons-two-tone">shield</mat-icon> $2 million liability insurance policy
							</mat-list-item>
						</mat-list>
					</div>
				</div>
			</mat-card-content>
		</mat-card>
	</div>

	<div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex.gt-md="100" fxFlex="100" *ngFor="let league of activeSeasons$ | async;">
		<mat-card>
			<mat-card-content>
				<div class="row-content" fxLayout="row wrap">
					<div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
						<h4>{{ league.name }} Seasons ({{ league.sport | titlecase }})</h4>
						<ng-container *ngFor="let division of league.divisions">
							<ng-container *ngFor="let activeSeason of division.season">
								<p>
									<b>Division {{ division.name }} ({{ spacetime(activeSeason.start_at, 'America/New_York').season() | titlecase }})</b>
								</p>
								<ul>
									<li>Starts on {{ activeSeason.start_at | date:'fullDate' }}</li>
									<li>{{ activeSeason.number_of_games }} games</li>
									<li>{{ activeSeason.league_fee | currency }} per team</li>
									<li>{{ activeSeason.offical_fee_per_game | currency }} per offical per game</li>
								</ul>
							</ng-container>
						</ng-container>
					</div>
				</div>
			</mat-card-content>
		</mat-card>
	</div>
