/* You can add global styles to this file, and also import other style files */
@import 'assets/styles/variable';

div.navbar-header
{
    span {
        color: white;
    }
}

mat-card-content.title {
    border-left: 2px solid $header-border;
}

mat-toolbar {
    border-left: 2px solid $header-border;
}
