/* You can add global styles to this file, and also import other style files */
@import 'assets/styles/variable';

div.navbar-header
{
    button {
        display: inline-block;
        vertical-align: middle;
    }

    a {
        &.navbar-brand {
            display: inline-block;
            vertical-align: middle;
            color: white;

            mat-icon {
                color: $header-border;
                font-size: 1.65rem;
                margin-top: 3px;
            }
        }
    }
}

.no-records {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
