<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
  <!-- column -->
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content class="title">
        <form [formGroup]="formControl">
          <div fxLayout="row wrap" class="align-items-center">
            <div fxFlex.gt-md="25" fxFlex="50" class="p-10">
              <mat-form-field>
                <input matInput formControlName="team" placeholder="Search Teams">
              </mat-form-field>
            </div>
            <div fxFlex.gt-md="15" fxFlex="50" class="p-10">
              <mat-form-field>
                <mat-label>Division</mat-label>
                <mat-select formControlName="division" appearance="fill">
                  <mat-option>None</mat-option>
                  <mat-option value="All">All</mat-option>
                  <mat-option value="c/d">Sunday C/D</mat-option>
                  <mat-option value="e">Sunday E</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex.gt-md="15" fxFlex="50" class="p-10">
              <mat-form-field>
                <mat-label>Umpire</mat-label>
                <mat-select formControlName="umpire" appearance="fill">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let umpire of listOfumpires;" [value]="umpire.name">{{umpire.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex.gt-md="15" fxFlex="50" class="p-10">
              <section class="example-section">
                <mat-checkbox formControlName="previousWeeks">Previous Weeks</mat-checkbox>
              </section>
            </div>

            <div fxFlex.gt-md="30" fxFlex="100" class="p-10" *ngIf="authenticationService.isAuthenticated" style="text-align:right">
              <button color="primary" mat-raised-button (click)="openScheduleGame('add')">Schedule Game</button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- column -->
</div>
<div fxLayout="row" fxLayoutWrap="wrap">
  <!-- column -->
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title>Sunday League {{ defaultWeeklyView ? '(Weekly)' : '' }}</mat-card-title>

        <div class="table-responsive">
          <table mat-table [dataSource]="dataSource" matSort class="table no-wrap isMobile">
            <ng-container matColumnDef="action" *ngIf="authenticationService.isAuthenticated">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
              <td mat-cell *matCellDef="let element">
                <mat-icon matRipple class="material-icons-outlined game-delayed" (click)="openScheduleGame('remove', element.id)">delete</mat-icon>
                <mat-icon matRipple class="material-icons-outlined game-delayed" (click)="openScheduleGame('edit', element.id)">edit</mat-icon>
              </td>
            </ng-container>

            <ng-container matColumnDef="home">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Home </th>
              <td mat-cell *matCellDef="let element">
                <span [ngClass]="{ 'game-winner': element.home_score > element.away_score }">{{element.home_team.name}}</span>
              </td>
            </ng-container>

            <ng-container matColumnDef="away">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Away </th>
              <td mat-cell *matCellDef="let element">
                <span [ngClass]="{ 'game-winner': element.away_score > element.home_score }">{{element.away_team.name}}</span>
              </td>
            </ng-container>

            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
              <td mat-cell *matCellDef="let element"> {{element.game_date | date: 'EEEE, MMMM d, h:mm a'}} </td>
            </ng-container>

            <ng-container matColumnDef="field">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Field </th>
              <td mat-cell *matCellDef="let element">
                <a target="_blank" [href]="getAddress(element.field)" *ngIf="!inThePast(element.game_date)">{{element.field.name}}</a>
                <ng-container *ngIf="inThePast(element.game_date)">{{element.field.name}}</ng-container>
              </td>
            </ng-container>

            <ng-container matColumnDef="umpires">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Umpires </th>
              <td mat-cell *matCellDef="let element"><span *ngFor="let umpire of element.umpires;">{{umpire.name}}</span> </td>
            </ng-container>

            <ng-container matColumnDef="outcome">
              <th mat-header-cell *matHeaderCellDef> Outcome </th>
              <td mat-cell *matCellDef="let element">
                <mat-icon class="material-icons-outlined game-delayed" *ngIf=element.delayed>event_busy</mat-icon>
                <p *ngIf="!element.delayed && (element.home_score || element.away_score)">
                  {{element.home_score}} - {{element.away_score}}
                </p>
                <p *ngIf="element.delayed">
                  Game was rescheduled
                </p>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'past-weeks-games': inThePast(row.game_date)}"></tr>
          </table>

          <div *ngIf="noData | async" class="no-records">
            <span *ngIf="!defaultWeeklyView">No games found</span>
            <span *ngIf="defaultWeeklyView">No games this week</span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- column -->
</div>