table {
	width: 100%;
}

.mat-column-number-of-fields {
  text-align: center;
}

th.mat-column-number-of-fields {
  ::ng-deep .mat-sort-header-container {
    padding-left: 18px;
    justify-content: center;
  }
}

.mat-column-icon mat-icon
{
  vertical-align: middle;
}

@media (min-width: 768px){
  .mat-column-icon mat-icon
  {
    display: none;
  }

  tr:hover {
    .mat-column-icon mat-icon
    {
      display: unset;
    }
  }
}

table {
  width: 100%;
}

tr.field-detail-row {
  height: 0;
  background: whitesmoke;

  mat-list-item {
    padding: 5px 0 5px 0;
  }

  mat-list-item:first-child {
    padding: 10px 0 5px 0;
  }

  mat-list-item:last-child {
    padding: 5px 0 10px 0;
  }
}

tr.field-row:not(.field-expanded-row):hover {
  background: whitesmoke;
}

tr.field-row:not(.field-expanded-row):active {
  background: #efefef;
}

.field-row td {
  border-bottom-width: 0;
}

.field-detail {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
